$very-dark-grayish-pink: #533640;
$very-dark-grayish-red: #5D5456;
$dark-desaturated-red: #692B2B;
$desaturated-red: #B57466;
$light-grayish-orange: #FBF8F3;

$text-body: $very-dark-grayish-pink;
$text-captions: $very-dark-grayish-red;
$text-headings: $dark-desaturated-red;
$text-hover: $desaturated-red;

$border: $desaturated-red;

$body-background: $light-grayish-orange;