@use "sass:color";
@use "src/styles/abstract/colors";

footer {
  width: 90%;
  max-width: 1440px;
  margin: 4rem auto;
  
  border-top: 4px solid rgb(colors.$border, 0.3);
  padding-top: 3rem;

  & > #flex { // left & right sides container
    display: flex;
    gap: 2rem;
    & > div#left, & > nav {
      width: 100%;
    }
  }

  .footer_submenu {
    flex-direction: column;
    margin-left: 1.5rem;
  }

  .nav_link {
    display: block;
    margin: 0.75rem 0;
  }
}