@use "src/styles/abstract/colors";
@use "src/styles/abstract/fonts";

header {
    width: 90%;
    max-width: 1440px;
    margin: 4rem auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}