@use "sass:color";
@use "src/styles/abstract/colors";
@use "src/styles/abstract/fonts";
@use "src/styles/abstract/media";

nav {
    a {
        font: bold 1.25rem/1 fonts.$body;
        text-decoration: none;
        color: colors.$text-body;
        transition: 0.1s;
    }

    @include media.screen-tablet {
        .desktop_only {
            display: none;
        }
    
        .hamburger {
            font-size: 2rem;
            cursor: pointer;
        }
    
        .items_container {
            position: fixed;
            display: flex;
            top: 0;
            right: -300px;
            flex-direction: column;
            gap: 0.5rem;
            padding: 2rem;
            height: 100vh;
            transition: 0.2s;
            z-index: 2;
            background: #fff;
        }
    
        .items_container.items_container_open {
            right: 0;
        }
    
        .overlay.overlay_open {
            z-index: 1;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            position: fixed;
            background: rgba(0, 0, 0, .5);
            cursor: pointer;
        }
    
        .submenu {
            display: flex;
            flex-direction: column;
            margin-left: 1.5rem;
            margin-top: 0.5rem;
            gap: 0.6rem;
        }
    }

    @include media.screen-desktop {
        .mobile_only {
            display: none;
        }

        .items_container {
            display: flex;
            gap: 2rem;
            align-items: baseline;
            justify-content: flex-end;
        }

        a {
            display: flex;
            gap: 0.4rem;
            align-items: center;
            
            &:hover, &:active {
                color: colors.$text-hover;
            }
            &:hover svg path, &:active svg path {
                stroke: colors.$text-hover;
            }
        }

        a.active {
            color: colors.$text-hover;
            .chevron > path {
                stroke: colors.$text-hover;
            }
        }

        .emphasized {
            background: colors.$text-headings;
            color: colors.$body-background;
            padding: 0.415rem 0.6rem 0.4rem 0.65rem;
            border-radius: .5rem;
    
            &:hover, &.active {
                color: colors.$body-background;
                background: colors.$text-hover;
            }
        }

        .chevron {
            display: block;
            path {
                stroke: colors.$text-body;
                stroke-width: 3;
            }
            transform: scale(0.75);
        }

        .submenu {
            position: absolute;
            display: none;
            background: white;
            padding: 1.125rem 2.25rem 1.15rem 1.25rem;
            margin-left: -1.25rem; // inverse of left padding
            border-radius: 10px;
            flex-direction: column;
            gap: 1rem;
            box-shadow: 2px 2px 12px rgb(colors.$text-headings, 0.25);
        }
    
        .top_level_item {
            & > a { // direct children
                padding-bottom: 0.5rem;
            }
    
            &:hover {
                .submenu {
                    display: flex;
                }
            }
        }
    }
}