.state {
    stroke: black;
    stroke-width: 1.5;
    fill: #ccc;
    transition: 0.1s;
}

.state:hover {
    fill: #ddd;
}

.active {
    fill: #707;
}

.active:hover {
    fill: #909;
}

.tooltip {
    position: fixed;
    border: 1px solid #aaa;
    background: #eee;
    padding: 0.4rem 0.6rem;
    font: normal 1rem/1 system-ui;
    transform: translateX(-50%);
}